<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
  <head th:include="be/fragment :: head">
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/thymol/thymol.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/hd-common/thymol.configuration.js"></script>
  </head>
  <body class="skin-blue">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header" th:include="be/fragment :: header"></header>

      <aside class="main-sidebar" th:include="be/fragment :: sidebar"></aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
          <div class="col-md-6">
            <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">修改密码</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="alert alert-warning" id="chgform-error" style="display: none;"></div>
              <form class="form-horizontal" id="chgform" method="post" th:action="@{/be/account/change-password}">
                <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="password">当前密码</label>

                    <div class="col-sm-10">
                      <input class="form-control" id="password" name="password" type="password" placeholder="请输入当前密码" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="newPassword">新密码</label>

                    <div class="col-sm-10">
                      <input class="form-control" id="newPassword" name="newPassword" type="password" placeholder="请输入新密码" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="reNewPassword" class="col-sm-2 control-label">确认新密码</label>

                    <div class="col-sm-10">
                      <input class="form-control" id="reNewPassword" name="reNewPassword" type="password" placeholder="请确认新密码" />
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <input class="btn btn-primary" type="submit" value="保存">
                  <input class="btn btn-primary" type="button" value="取消" id="cancel">
                </div>
                <!-- /.box-footer -->
              </form>
            </div>
          </div>
        </section>
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer" th:include="be/fragment :: footer"></footer>

    </div><!-- ./wrapper -->
  </body>
  <script src="../../static/assets/js/change-password.js" th:src="@{/assets/js/change-password.js}"></script>
</html>