<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="be/fragment :: head">
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/thymol/thymol.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/hd-common/thymol.configuration.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/formValidation/js/formValidation.min.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/bootstrap-paginator/bootstrap-paginator.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/formValidation/js/language/zh_CN.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/formValidation/js/framework/bootstrap.min.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/hd-common/common.js"></script>
</head>

<body class="skin-blue">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header" th:include="be/fragment :: header"></header>

    <aside class="main-sidebar" th:include="be/fragment :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <span id="page-status" class="static" th:class="dynamic"></span>
        <section class="content-header">
            <h1>
                财务管理
            </h1>
            <ol class="breadcrumb">
                <li><a href="finance.html" th:href="@{/be/order/finance}">财务列表管理</a></li>
                <li class="active">财务列表</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> 财务列表</h3>

          <div class="pull-right" style="margin-bottom: 10px;">
            <button class="btn btn-success" id="financeSearchBtn" shiro:hasPermission="order:fee_search">
              <i class="fa fa-search-plus"></i>&nbsp;搜索订单
            </button>
            <button class="btn btn-success" id="financeExportBtn" shiro:hasPermission="order:fee_download">
              &nbsp;导出Excel
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
          <table class="table table-bordered table-striped">
            <tbody>
            <tr>
              <th style="width: 60px">#</th>
              <th>送检医院</th>
              <th>送检科室</th>
              <th>送检日期</th>
              <th>患者姓名</th>
              <th>预付金额</th>
              <th>服务费</th>
              <th>实际发生费用</th>
              <th>诊断医院</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            <th:block th:each="orderDto,iterStat : ${orders}">
              <tr>
                <td th:text="(${pagination.currentPage} - 1) * 10 + ${iterStat.count}">1</td>
                <td th:text="${orderDto.orgHospitalName}">九院</td>
                <td th:text="${orderDto.departmentName}">正畸科</td>
                <td
                    th:text="${orderDto.application.applicationDate != null?#dates.format(orderDto.application.applicationDate, 'yyyy-MM-dd HH:mm:ss'):''}">
                  2017-01-01
                </td>
                <td th:text="${orderDto.order.patient.fullName}">患者张三</td>
                <td th:text="${orderDto.order.receivablePrice}">23.01</td>
                <td th:text="${orderDto.order.serviceFee}">26.37</td>
                <td th:text="${orderDto.order.orderPrice}">874.02</td>
                <td th:each="dstHospitalName : ${orderDto.dstHospitalNames}">
                  <span th:text="${dstHospitalName}"></span>
                </td>
                <td>
                                    <span class="label status-label" th:text="${orderDto.feeStatus}">
                                      已收样
                                    </span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-sm"
                                           th:href="@{/be/order/fee/detail(orderNo=${orderDto.order.orderNo}, activeTab=feeTab)}"
                                           th:id="${orderDto.order.orderNo}" title="订单详情"><i class="fa fa-info fa-fw"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!-- Your Page Content Here -->
                <div class="box-footer clearfix"><!-- 分页 -->
                    <ul class="pagination pagination-sm no-margin pull-right" id="PaginatorUl">
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!-- Main Footer -->
    <footer class="main-footer" th:include="be/fragment :: footer"></footer>
</div>

<!--下载清单-->
<form id="exportConditionsForm" action="#"  th:action="@{/be/order/fee/export}" method="post">
    <input name="orgHospitalId" type="hidden" th:value="${orderSearchConditions.orgHospitalId}">
    <input name="feeStatus" type="hidden" th:value="${orderSearchConditions.feeStatus}">
    <input name="applicationDateRange" type="hidden" th:value="${orderSearchConditions.applicationDateRange}">
</form>

<div th:replace="be/modal/modal_finance :: searchModal"></div>
<!-- /.content -->

<script data-th-inline="javascript">
    /*<![CDATA[*/
    var currentPage = /*[[${pagination.currentPage}]]*/ '1';//当前页面
    var pageSize = /*[[${pagination.pageSize}]]*/'5';
    var totalPages = /*[[${pagination.totalPage == 0 ? 1 : pagination.totalPage}]]*/'10'
    /*]]>*/
</script>
<script src="../../static/assets/js/finance.js" th:src="@{/assets/js/finance.js}"></script>

</body>
</html>