<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
  <head th:include="be/fragment :: head">
    <meta charset="UTF-8">
    <script th:remove="all" src="../../static/assets/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script th:remove="all" src="../../static/assets/plugins/thymol/thymol.js"></script>
    <script th:remove="all" src="../../static/assets/plugins/hd-common/thymol.configuration.js"></script>
    <script th:remove="all" src="../../static/assets/bootstrap/js/bootstrap-multiselect.js"></script>
    <script th:remove="all" src="../../static/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script th:remove="all" src="../../static/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script th:remove="all" src="../../static/assets/plugins/hd-common/common.js"></script>
    <script th:remove="all" src="../../static/assets/plugins/formValidation/js/formValidation.min.js"></script>
    <script th:remove="all" src="../../static/assets/plugins/formValidation/js/language/zh_CN.js"></script>
    <script th:remove="all" src="../../static/assets/plugins/formValidation/js/framework/bootstrap.min.js"></script>
  </head>
  <body class="skin-blue">
  <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header" th:include="be/fragment :: header"></header>

      <aside class="main-sidebar" th:include="be/fragment :: sidebar"></aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            创建医院
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="box box-default">
            <form class="form-horizontal" id="createForm" action="#" method="post">
              <input type="hidden" name="hospitalType" value="HOSPITAL"/>
              <div class="box-body">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h5 class="box-title">基本信息</h5>
                  </div>
                  <div class="box-body">
                    <div class="row order-detail-base">
                      <div class="col-md-6">
                        <div class="form-group ">
                          <label for="name_create" class="col-md-3 control-label font-normal">
                            <span class="text-red">*&nbsp;</span>医院名称</label>
                          <div class="col-md-9">
                            <input class="form-control" id="name_create" name="name" type="text" placeholder="医院名称"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="hospitalLevel_create" class="col-md-3 control-label font-normal">医院级别</label>
                          <div class="col-md-9">
                            <select class="form-control" id="hospitalLevel_create" name="hospitalLevel">
                              <option value="">请选择医院级别</option>
                              <option value="THREE_A">三级甲等</option>
                              <option value="THREE_B">三级乙等</option>
                              <option value="TWO_A">二级甲等</option>
                              <option value="TWO_B">二级乙等</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group" id="org_region_create">
                          <label for="provinceId_create" class="col-md-3 control-label font-normal">
                            <span class="text-red">*&nbsp;</span>所属地区</label>
                          <div class="col-md-9">
                            <div class="row">
                              <div class="col-md-4">
                                <select class="form-control" id="provinceId_create" name="provinceId">
                                  <option value="">省/直辖市</option>
                                  <option value="上海市">上海市</option>
                                </select>
                              </div>
                              <div class="col-md-4">
                                <select class="form-control" id="cityId_create" name="cityId">
                                  <option value="">市/区</option>
                                  <option value="上海市">上海市</option>
                                </select>
                              </div>
                              <div class="col-md-4">
                                <select class="form-control" id="districtId_create" name="districtId">
                                  <option value="">县</option>
                                  <option value="徐汇区">徐汇区</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="address_create" class="col-md-3 control-label font-normal">地址</label>
                          <div class="col-md-9">
                            <input class="form-control" id="address_create" name="address" type="text" placeholder="地址"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group ">
                          <label for="director_create" class="col-md-3 control-label font-normal">医院负责人</label>
                          <div class="col-md-9">
                            <input class="form-control" id="director_create" name="director" type="text" placeholder="医院负责人"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="contactPhone_create" class="col-md-3 control-label font-normal">负责人联系电话</label>
                          <div class="col-md-9">
                            <input class="form-control" id="directorPhone_create" name="directorPhone" type="text" placeholder="负责人联系电话"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="contactName_create" class="col-md-3 control-label font-normal">病理科联系人</label>
                          <div class="col-md-9">
                            <input class="form-control" id="contactName_create" name="contactName" type="text" placeholder="病理科联系人"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="contactPhone_create" class="col-md-3 control-label font-normal">联系电话</label>
                          <div class="col-md-9">
                            <input class="form-control" id="contactPhone_create" name="contactPhone" type="text" placeholder="联系电话"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h5 class="box-title">调研信息</h5>
                  </div>
                  <div class="box-body">
                    <div class="row order-detail-base">
                      <div class="col-md-6">
                        <div class="form-group ">
                          <label for="amountOfResidentPopulation_create" class="col-md-3 control-label font-normal">常驻人口总数</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfResidentPopulation_create" name="amountOfResidentPopulation" type="text"
                                   placeholder="常驻人口总数"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfOutpatients_create" class="col-md-3 control-label font-normal">门诊量</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfOutpatients_create" name="amountOfOutpatients" type="text" placeholder="门诊量"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfSurgeries_create" class="col-md-3 control-label font-normal">手术人次</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfSurgeries_create" name="amountOfSurgeries" type="text" placeholder="手术人次"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfBeds_create" class="col-md-3 control-label font-normal">床位数</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfBeds_create" name="amountOfBeds" type="text" placeholder="床位数"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfRoutinePathology_create" class="col-md-3 control-label font-normal">常规病理量</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfRoutinePathology_create" name="amountOfRoutinePathology" type="text"
                                   placeholder="常规病理量"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfTCT_create" class="col-md-3 control-label font-normal">液基细胞(TCT)</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfTCT_create" name="amountOfTCT" type="text" placeholder="液基细胞(TCT)"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfHPV_create" class="col-md-3 control-label font-normal">HPV</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfHPV_create" name="amountOfHPV" type="text" placeholder="HPV"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfIHC_create" class="col-md-3 control-label font-normal">免疫组化</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfIHC_create" name="amountOfIHC" type="text" placeholder="免疫组化"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfConsultation_create" class="col-md-3 control-label font-normal">疑难病理</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfConsultation_create" name="amountOfConsultation" type="text"
                                   placeholder="疑难病理"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfFrozenAndParaffin_create" class="col-md-3 control-label font-normal">冰冻石蜡</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfFrozenAndParaffin_create" name="amountOfFrozenAndParaffin" type="text"
                                   placeholder="冰冻石蜡"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group ">
                          <label for="amountOfTreatment_create" class="col-md-3 control-label font-normal">就诊量</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfTreatment_create" name="amountOfTreatment" type="text"
                                   placeholder="就诊量"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfDischarged_create" class="col-md-3 control-label font-normal">出院人数</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfDischarged_create" name="amountOfDischarged" type="text"
                                   placeholder="出院人数"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="hasThirdParty_create" class="col-md-3 control-label font-normal">与第三方合作</label>
                          <div class="col-md-9">
                            <div class="input-group" style="padding-top: 5px" >
                              <input class="hasThirdParty" id="hasThirdParty_create" name="hasThirdParty" type="radio" value="true"/>是
                              <input class="hasThirdParty" id="hasThirdParty_create" name="hasThirdParty" type="radio" value="false" checked/>否
                            </div>
                          </div>
                        </div>
                        <div class="hasThirdPartyCollapse nondisplay">
                          <div class="form-group no-button-margin">
                            <div class="col-md-9 col-lg-offset-3">
                              <div class="input-group with-margin">
                                <span class="input-group-addon">第三方名称</span>
                                <input class="form-control" id="aneOfThirdParty_create" name="aneOfThirdParty" type="text"
                                       placeholder="第三方名称"/>
                              </div>
                            </div>
                          </div>
                          <div class="form-group no-button-margin">
                            <div class="col-md-9 col-lg-offset-3">
                              <div class="input-group with-margin">
                                <span class="input-group-addon">合作内容</span>
                                <input class="form-control" id="cooperationContent_create" name="cooperationContent" type="text"
                                       placeholder="合作内容"/>
                              </div>
                            </div>
                          </div>
                          <div class="form-group no-button-margin">
                            <div class="col-md-9 col-lg-offset-3">
                              <div class="input-group with-margin">
                                <span class="input-group-addon">合作方式</span>
                                <input class="form-control" id="cooperationMethod_create" name="cooperationMethod" type="text"
                                       placeholder="合作方式"/>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="moleculeItem_create" class="col-md-3 control-label font-normal">分子项目</label>
                          <div class="col-md-9">
                            <input class="form-control" id="moleculeItem_create" name="moleculeItem" type="text"
                                   placeholder="分子项目"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfMolecule_create" class="col-md-3 control-label font-normal">分子数量</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfMolecule_create" name="amountOfMolecule" type="text"
                                   placeholder="分子数量"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="commonTumors_create" class="col-md-3 control-label font-normal">常见肿瘤</label>
                          <div class="col-md-9">
                            <input class="form-control" id="commonTumors_create" name="commonTumors" type="text"
                                   placeholder="常见肿瘤"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="medicationHabits_create" class="col-md-3 control-label font-normal">用药习惯</label>
                          <div class="col-md-9">
                            <input class="form-control" id="medicationHabits_create" name="medicationHabits" type="text"
                                   placeholder="用药习惯"/>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label for="amountOfOutgoing_create" class="col-md-3 control-label font-normal">外送第三方数量</label>
                          <div class="col-md-9">
                            <input class="form-control" id="amountOfOutgoing_create" name="amountOfOutgoing" type="text"
                                   placeholder="外送第三方数量"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h5 class="box-title">服务信息</h5>
                  </div>
                  <div class="box-body">
                    <div class="row order-detail-base">
                      <div class="col-md-6">
                        <div class="form-group ">
                          <label for="seller_create" class="col-md-3 control-label font-normal">销售人员</label>
                          <div class="col-md-9">
                            <select class="form-control selectpicker show-tick" id="seller_create" name="sellerId"
                                    data-live-search="true" data-th-attr="data-live-search= true">
                              <option value="">请选择销售人员</option>
                              <option value="张三" th:each="user : ${users}" th:value="${user.id}" th:text="${user.fullName}">张三</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row order-detail-base">
                      <div class="col-md-6">
                        <div class="form-group ">
                          <label class="control-label col-md-3" for="remark" style="font-weight:normal">备注</label>
                          <div class="col-md-9">
                            <textarea class="form-control" id="remark" rows="3" placeholder="备注"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <input class="btn btn-primary center-block" type="submit" value="提交"/>
              </div>
            </form>
          </div>
        </section>
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer" th:include="be/fragment :: footer"></footer>

    </div><!-- ./wrapper -->
  <script src="../../static/assets/js/hospital_create.js" th:src="@{/assets/js/hospital_create.js}"></script>
  </body>
</html>