<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
  <head th:include="be/fragment :: head">
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/bootstrap-paginator/bootstrap-paginator.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/thymol/thymol.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/hd-common/thymol.configuration.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/formValidation/js/formValidation.min.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/formValidation/js/language/zh_CN.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/formValidation/js/framework/bootstrap.min.js"></script>
  </head>
  <body class="skin-blue">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header" th:include="be/fragment :: header"></header>

      <aside class="main-sidebar" th:include="be/fragment :: sidebar"></aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <span id="page-status" class="static" th:class="dynamic"></span>
        <!-- Main content -->
        <section class="content">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">权限列表</h3>
              <div class="pull-right" style="margin-bottom: 10px;">
                <button shiro:hasPermission="permission:search" class="btn btn-success" id="permissionSearch">
                  <i class="fa fa-search-plus"></i>&nbsp;搜索权限
                </button>
                <button shiro:hasPermission="permission:create" class="btn btn-success" id="permissionCreate">
                  添加权限
                </button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">
              <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                  <th style="width: 60px">#</th>
                  <th>权限名称</th>
                  <th>权限代码</th>
                  <th>权限类型</th>
                  <th>操作</th>
                </tr>
                <th:block th:each="permission,iterStat : ${permissions}">
                  <tr>
                    <td th:text="${(pagination.currentPage - 1)* 10 + iterStat.count}">1</td>
                    <td><a class="permissionName" th:value="${permission.id}" href="#" th:text="${permission.name}">创建订单</a></td>
                    <td th:text="${permission.code}">order_create</td>
                    <td th:text="${permission.permissionType.desc}">订单管理</td>
                    <td>
                      <a shiro:hasPermission="permission:delete" class="btn btn-default btn-sm deleteBtn" th:id="${permission.id}"
                         name="delete_btn" title="删除" data-th-attr="permissionName = ${permission.name}">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </th:block>
                </tbody>
              </table>
            </div><!-- /.box-body -->
            <!-- Your Page Content Here -->
            <div class="box-footer clearfix"><!-- 分页 -->
              <ul class="pagination pagination-sm no-margin pull-right" id="PaginatorUl">
              </ul>
            </div>
          </div>
        </section>
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer" th:include="be/fragment :: footer"></footer>

    </div><!-- ./wrapper -->
    <div th:replace="be/modal/modal_permission :: searchModal"></div>
    <div th:replace="be/modal/modal_permission :: createModal"></div>
    <div th:replace="be/modal/modal_permission :: editModal"></div>
    <div th:replace="be/modal/modal_permission :: permissionScript"></div>
    <script data-th-inline="javascript">
      /*<![CDATA[*/
      var currentPage= /*[[${pagination.currentPage}]]*/ '1';//当前页面
      var pageSize= /*[[${pagination.pageSize}]]*/'5';
      var totalPages=/*[[${pagination.totalPage == 0 ? 1 : pagination.totalPage}]]*/'10'
      /*]]>*/
    </script>
  </body>
  <script src="../../static/assets/js/permission.js" th:src="@{/assets/js/permission.js}"></script>
</html>
