<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
  <head th:include="be/fragment :: head">
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/bootstrap-paginator/bootstrap-paginator.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/thymol/thymol.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/hd-common/thymol.configuration.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/formValidation/js/formValidation.min.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/formValidation/js/language/zh_CN.js"></script>
    <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/formValidation/js/framework/bootstrap.min.js"></script>
  </head>
  <body class="skin-blue">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header" th:include="be/fragment :: header"></header>

      <aside class="main-sidebar" th:include="be/fragment :: sidebar"></aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <span id="page-status" class="static" th:class="dynamic"></span>
        <!-- Content Header (Page header) -->
        <section class="content">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">资源列表</h3>

              <div class="pull-right" style="margin-bottom: 10px;">
                <button shiro:hasPermission="resource:search" class="btn btn-success" id="searchBtn">
                  <i class="fa fa-search-plus"></i>&nbsp;搜索资源
                </button>
                <button shiro:hasPermission="resource:create" class="btn btn-success" id="createBtn">
                  添加资源
                </button>
              </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                  <th style="width: 60px">#</th>
                  <th>资源名称</th>
                  <th>类型</th>
                  <th>URL</th>
                  <th>操作</th>
                </tr>
                <tr th:each="resource,iterStat : ${resources}">
                  <td th:text="${(pagination.currentPage - 1)* 10 + iterStat.count}">1</td>
                  <td>
                    <a class="resourceName" name="resourceName" th:id="${resource.id}" href="#" th:text="${resource.resourceName}">通用</a>
                  </td>
                  <td th:text="${resource.resourceType.desc}">登录</td>
                  <td th:text="${resource.url}">be/index</td>
                  <td>
                    <a shiro:hasPermission="resource:delete" class="btn btn-default btn-sm deleteBtn" title="删除" th:id="${resource.id}"
                       data-th-attr="resourceName=${resource.resourceName}" name="delete_btn"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <!-- Your Page Content Here -->
            <div class="box-footer clearfix"><!-- 分页 -->
              <ul class="pagination pagination-sm no-margin pull-right" id="PaginatorUl">
              </ul>
            </div>
          </div>
        </section>
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer" th:include="be/fragment :: footer"></footer>

    </div><!-- ./wrapper -->
    <div th:replace="be/modal/modal_resource :: searchModal"></div>
    <div th:replace="be/modal/modal_resource :: createModal"></div>
    <div th:replace="be/modal/modal_resource :: editModal"></div>
    <div th:replace="be/modal/modal_resource :: resourceScript"></div>
    <script data-th-inline="javascript">
      /*<![CDATA[*/
      var currentPage= /*[[${pagination.currentPage}]]*/ '1';//当前页面
      var pageSize= /*[[${pagination.pageSize}]]*/'5';
      var totalPages=/*[[${pagination.totalPage == 0 ? 1 : pagination.totalPage}]]*/'10'
      /*]]>*/
    </script>
    <script src="../../static/assets/js/resource.js" th:src="@{/assets/js/resource.js}"></script>
  </body>
</html>