<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="be/fragment :: head">
  <meta charset="UTF-8">
  <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/jQuery/jQuery-2.1.3.min.js"></script>
  <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/bootstrap-paginator/bootstrap-paginator.js"></script>
  <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/thymol/thymol.js"></script>
  <script th:remove="all" type="text/javascript" src="../../static/assets/plugins/hd-common/thymol.configuration.js"></script>
</head>
<body class="skin-blue">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header" th:include="be/fragment :: header"></header>

  <aside class="main-sidebar" th:include="be/fragment :: sidebar"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        供应商管理
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">供应商列表</h3>
          <div class="pull-right" style="margin-bottom: 10px;">
            <a class="btn btn-success" href="supplier_create.html" th:href="@{create}" shiro:hasPermission="supplier:create">
              <i class="fa fa-pencil-square-o"></i>&nbsp;创建
            </a>
            <button class="btn btn-success" id="supplierSearchBtn">
              <i class="fa fa-search-plus"></i>&nbsp;搜索
            </button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive">
          <table class="table table-bordered table-striped">
            <tbody>
            <tr>
              <th style="width: 60px">#</th>
              <th>名称</th>
              <th>类型</th>
              <th>联系人</th>
              <th>联系人电话</th>
              <th>联系人邮箱</th>
              <th>所属地区</th>
              <th>合作状态</th>
              <th>操作</th>
            </tr>
            <tr th:each="supplier,status : ${suppliers}">
              <td>1</td>
              <td th:text="${supplier.name}">复旦临床病理诊断中心</td>
              <td>
                <span th:each="type : ${supplier.supplierType}">
                  <span th:text="${type.desc}"></span><br/>
                </span>
              </td>
              <td th:text="${supplier.contactName}">张三</td>
              <td th:text="${supplier.contactPhone}">13155550101</td>
              <td th:text="${supplier.contactEmail}">zhangsan@qq.com</td>
              <td>上海市浦东新区</td>
              <td>
                <span class="label status-label font-normal cooperationState label-primary"
                      th:text="${null == supplier.cooperationState ? '':supplier.cooperationState.desc}">合作中</span>
              </td>
              <td>
                <a class="btn btn-primary btn-xs detailView" name="detailView" th:href="@{detail(id=${supplier.id})}">
                  详情
                </a>
                <button shiro:hasPermission="supplier:delete" class="btn btn-danger btn-xs deleteBtn" th:id="${supplier.id}"
                        th:value="${supplier.name}">
                  删除
                </button>
              </td>
            </tr>
            <tr th:remove="all">
              <td>2</td>
              <td>美吉医学检验所</td>
              <td>分子检测</td>
              <td>李四</td>
              <td>13155550101</td>
              <td>zhangsan@qq.com</td>
              <td>上海市浦东新区</td>
              <td>
                <span class="label status-label font-normal cooperationState">合作中</span>
              </td>
              <td>
                <button class="btn btn-primary btn-xs detailView" name="detailView">
                  详情
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div><!-- /.box-body -->
        <!-- Your Page Content Here -->
        <div class="box-footer clearfix"><!-- 分页 -->
          <ul class="pagination pagination-sm no-margin pull-right" id="PaginatorUl">
          </ul>
        </div>
      </div>
    </section>
    <!-- /.content -->

  </div><!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer" th:include="be/fragment :: footer"></footer>

</div><!-- ./wrapper -->
<div th:replace="be/modal/modal_supplier :: searchModal"></div>
<script data-th-inline="javascript">
  /*<![CDATA[*/
  var currentPage = /*[[${pagination.currentPage}]]*/ '1';//当前页面
  var pageSize = /*[[${pagination.pageSize}]]*/'5';
  var totalPages = /*[[${pagination.totalPage == 0 ? 1 : pagination.totalPage}]]*/'10'
  /*]]>*/
</script>
<script src="../../static/assets/js/supplier.js" th:src="@{/assets/js/supplier.js}"></script>
</body>
</html>